/*----------------------------------------------------------------------------------
                                  Base Styles
----------------------------------------------------------------------------------*/
* {
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
}

h1, h2, h3, input, legend, p, label {
font-family: 'PT Serif', serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 95%;
}
.tophead,
input[type=text],
[type=email],
[type=tel],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  text-align: left;
}



input[type=text],
[type=email],
[type=tel],
select {
  background-color: rgb(227, 224, 235);
}

fieldset {
  border: none;
}
.tophead {
  display: block;
  border-bottom: 4px solid rgb(24, 30, 51);
  margin-bottom: 5px;
  text-align: center;
  border-width: 100%;
  margin: 0 auto;


}

.fs1 {
  display: block;
  border-top: 1px solid rgb(24, 30, 51);
  margin: 0 auto;

}


label {
  line-height: .8em;

}

header {
  background-color: rgb(24, 30, 51);
  color: white;
  height: 4em;
  width: 100%;
}

header h1 {
  padding-top: .6em;
}

input[placeholder]{
  color: rgb(149, 167, 172);
  text-align: right;
}

textarea {
  background-color: rgb(227, 224, 235);
  border: none;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  resize: none;
}

button {
  background-color: rgb(16, 162, 168);
  font-size: 2em;
  border: none;
  color: white;
  margin: 0 auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  height: 100px;
}

.chkbox {
  display: block;
  margin-bottom: 10px;
}

.chkbox input,
.chkbox label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;

}
.chkbox input {
  margin-right: 10px;
}
/*----------------------------------------------------------------------------------
                                  Focus and Selection
----------------------------------------------------------------------------------*/
.fs1 input:focus,
textarea:focus,
select:focus {
  border-radius: 1px;
  border: solid 1px rgb(24, 30, 51);
}

input[type="text"]:focus,
input[type="email"]:focus{
text-align:left;
}
button:active {
position:relative;
	top:1px;
}

button:focus {
  outline: none;
}




/*----------------------------------------------------------------------------------
                                  Media Queries
----------------------------------------------------------------------------------*/
@media (min-width: 769px) {
  .container {
    max-width: 50%;
    margin: 0 auto;


  }
  .fs1 input[type=text],
  .fs1 input[type=email],
  .fs1 input[type=tel],
  .fs1 select {
    width: 70%;
  }

  #zip [type=text] {
    width: 30%;
  }
  .fs1 label {
    width: 25%;
    display: inline-block;
    text-align: left;
  }

}

/*----------------------------------------------------------------------------------
                                   Clearfix
 ----------------------------------------------------------------------------------*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
