/*----------------------------------------------------------------------------------
                                  Base Styles
----------------------------------------------------------------------------------*/
* {
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
}

h2, h3, input, legend, p, label {
  font-family: 'PT Serif', serif;
  line-height: 16px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  padding: 25px 0 25px 0;
}



h1 {
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 95%;
  padding: 15px;
}

.tophead,
input[type=text],
[type=email],
[type=tel],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  text-align: left;
}

input[type=text],
[type=email],
[type=tel],
select {
  background-color: rgb(227, 224, 235);
}

fieldset {
  border: none;
}

.tophead {
  display: block;
  border-bottom: 4px solid rgb(24, 30, 51);
  text-align: center;
}

.tophead p {
  font-size: 1em;
  color: rgb(176, 176, 176);
  font-weight: lighter;
}

.borders {
  border-top: 1px solid rgb(24, 30, 51);
  padding-top: 25px;
  padding-top: 0;
}
.fs1 {
  display: block;
  margin: 0 auto;
}

.area2 {
  background-color: rgb(255, 255, 241);

}

label {
  line-height: 1em;
  padding: 20px 0 20px 0;
}

header {
  background-color: rgb(24, 30, 51);
  color: white;
  height: 5em;
  width: 100%;
}

header h1 {
  padding-top: .6em;
}

input[placeholder] {
  color: rgb(149, 167, 172);
  text-align: right;
}

textarea {
  background-color: rgb(227, 224, 235);
  border: none;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  resize: none;
  margin-top: 10px;


}

button {
  background-color: rgb(16, 162, 168);
  font-size: 2em;
  border: none;
  color: white;
  margin: 0 auto;
  padding: 15px 32px;
  text-align: center;
  opacity: 0.6;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  height: 100px;
  transition: 0.3s;
  margin-top: 25px;
}


.chkbox input,
.chkbox label {
  display: inline-block;
  margin-bottom: 12px;
  white-space: nowrap;

}
.chkbox label {
  padding-left: 5px;
  padding-bottom: 0;
}

.chkbox input {
  margin-right: 20px;
}

footer {
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  font-style: italic;
}

/*----------------------------------------------------------------------------------
                                  Focus and Selection
----------------------------------------------------------------------------------*/
.fs1 input:focus,
textarea:focus,
select:focus {
  border-radius: 2px;
  border: solid 1px rgb(24, 30, 51);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  text-align: left;
}

button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 1;

}
/*----------------------------------------------------------------------------------
                                  Media Queries
----------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .container {
    max-width: 70%;
  }

  .fs1 input[type=text],
  .fs1 input[type=email],
  .fs1 input[type=tel],
  .fs1 select {
    width: 70%;
  }

  .fs1 input:last-child {
    width: 30%;
  }

  .topic label {
    width: 300px;
    white-space: nowrap;
  }

  .fs1 label {
    width: 29%;
    display: inline-block;
    text-align: left;
  }


}

/*----------------------------------------------------------------------------------
                                   Clearfix
 ----------------------------------------------------------------------------------*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
